# QtCreator
*.qbs.user
*.pro.user
*.pri

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#########################
# miscellaneous
#########################

.mailmap
*.app
*.dSYM
example_ofxVisualProgramming/bin/.tmp
example_ImGui/bin/.tmp
bin/.tmp
obj/
**/build-ofxVisualProgramming_example-Desktop-Debug
**/build-ofxVisualProgramming_example-Desktop-Release
**/build-example_ImGui-Desktop-Debug
**/build-example_ImGui-Desktop-Release
